.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 70vh;
}

.head {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 10px 0px 20px 0px;
}

.addCompBtn, .saveCompBtn {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid rgb(184, 184, 184);
  padding: 5px;
  border-radius: 5px;
  width: 160px;
  height: 35px;
  transition: 0.4s ease-in-out;
  background-color: black;
  color: white;
  user-select: none;

  &:hover {
    cursor: pointer;
  }
}

.addCompBtn {
  margin-top: 50px;
  bottom: 0px;
  position: relative;
}

.addCompIcon {
  font-size: large;
}

.projectTitle {
  align-self: center;
  font-size: 18px;
  font-weight: 600;
  margin: 10px;
}

.componentsHeadWrapper {
  display: flex;
  justify-content: center;
  gap: 10px;
  padding: 5px;
}

.compWrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 10px;
  width: 60%;
  border: 1px solid rgb(151, 151, 151);
  border-radius: 10px;
  padding: 10px;
}

.optionWrapper {
  border: 1px solid rgb(174, 174, 174);
  border-radius: 5px;
  padding: 10px;
}

.editorWrapper {
  margin-top: 10px;
  padding: 20px 10px 20px 10px;
  display: flex;
  flex-direction: column;
  align-items:flex-start;
  width: 35%;
  border: 1px solid rgb(188, 188, 188);
  border-radius: 5px;
  gap: 25px;
}

.editorHeading {
  margin-bottom: 2px;
  font-size: 17px;
  align-self: center;
  font-weight: 600;
}

.editorSubHeading {
  margin-top: -15px;
  margin-bottom: 5px;
  font-size: 14px;
  color: grey;
  align-self: center;
}

.editOptions {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
}

.note {
  font-size: 14px;
  color: rgb(140, 140, 140);
  font-weight: 600;
}